{% extends 'base.html' %}

{% load static %}
{% block 'head' %}
<link href="{% static 'type_event/css/usuarios.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<div class="container-fluid bg-inscricao">

    <div class="row">
        <div class="col-md">
            <h3 class="logo">Livre Comércio Eventos</h3>
            <img src="{% static 'type_event/img/logo100.png' %}" class="logo-evento">

            {% include "partials/usuarios/cadastro.html" %}

        </div>

        <div class="col-md bg-img">

        </div>

    </div>
</div>

{% endblock %}