<div class="box-form">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <br>
    <h3 class="text-center">CADASTRO</h3>
    <hr style="border-color: #7E7B7C">

    <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
        <label class="mb-2">Username:</label>
        <input type="text" class="form-control" placeholder="Username..." name="username">
        <br>
        <label class="mb-2">E-mail:</label>
        <input type="email" class="form-control" placeholder="E-mail..." name="email">
        <br>
        <div class="row">
            <div class="col-md">
                <label class="mb-2">Senha:</label>
                <input type="password" class="form-control" placeholder="Senha..." name="senha">
            </div>

            <div class="col-md">
                <label class="mb-2">Confirmar senha:</label>
                <input type="password" class="form-control" placeholder="Confirmar senha..." name="confirmar_senha">
            </div>
        </div>
        <a href="{% url 'logar' %}" class="link">Já possuo uma conta</a>
        <br>
        <br>
        <input type="submit" value="CADASTRAR" class="btn-principal">
    </form>
</div>